/* Customize your main colors in :root variables */
:root {
  --main-background-color: #055305;
  --card-background-color: #066106;
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#ffffff;
}

body{
  background-color:var(--main-background-color);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



